.about__services {
    height: 6em;
}

.col-full p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.s-about {
    background: rgb(243,146,102);
    background: linear-gradient(211deg, rgba(243,146,102,1) 0%, rgba(252,134,103,1) 35%, rgba(254,92,94,1) 76%, rgba(228,83,97,1) 100%);
}